.ToolSelectorItem {
  color: #ffefc4;
  font-family: "Spline Sans Mono", cursive;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border: 2px solid transparent;
  font-size: 0.75em;
  background-color: transparent;
}
.ToolSelectorItemSelected {
  color: #ffefc4;
  font-family: "Spline Sans Mono", cursive;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #ffefc4;
  border-radius: 7px;
  padding: 5px;
  background-color: transparent;
  font-size: 0.9em;
}

.ToolSelector {
  pointer-events: auto;
  list-style: none;
  display: flex;
  flex-directon: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: -30px;
}
